.modal-logout__btns {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
}
.modal-logout__btn {
    background-color: #3b8dd0;
    border: none;
}